In [2]:
from pathlib import Path # to interact with file system.

import numpy as np # for working with arrays.
import pandas as pd # for working with data frames (tables).

from sklearn.model_selection import train_test_split # for data partition.
from sklearn.metrics import r2_score # to identify r_squared for regression model.
from sklearn.linear_model import LinearRegression # for linear regression model.

%matplotlib inline #renders the figure in a notebook
import matplotlib.pylab as plt

UsageError: unrecognized arguments: #renders the figure in a notebook

In [ ]:
#Create a data frame in Python using ToyotaCorolla.csv file.
ToyotaCorolla_df = pd.read_csv('ToyotaCorolla.csv')

In [40]:
ToyotaCorolla_df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [41]:
summary_stats = np.round(ToyotaCorolla_df.describe(), decimals=4)
summary_stats.to_csv('summary.csv',index=True)
print(summary_stats)

              Id       Price  Age_08_04  Mfg_Month   Mfg_Year           KM  \
count  1436.0000   1436.0000  1436.0000  1436.0000  1436.0000    1436.0000
mean    721.5550  10730.8245    55.9471     5.5487  1999.6253   68533.2597
std     416.4769   3626.9646    18.6000     3.3541     1.5407   37506.4489
min       1.0000   4350.0000     1.0000     1.0000  1998.0000       1.0000
25%     361.7500   8450.0000    44.0000     3.0000  1998.0000   43000.0000
50%     721.5000   9900.0000    61.0000     5.0000  1999.0000   63389.5000
75%    1081.2500  11950.0000    70.0000     8.0000  2001.0000   87020.7500
max    1442.0000  32500.0000    80.0000    12.0000  2004.0000  243000.0000

              HP  Met_Color  Automatic          CC  ...  Powered_Windows  \
count  1436.0000  1436.0000  1436.0000   1436.0000  ...        1436.0000
mean    101.5021     0.6748     0.0557   1576.8558  ...           0.5620
std      14.9811     0.4686     0.2294    424.3868  ...           0.4963
min      69.0000     0.0000     0.0000   1300.0000  ...           0.0000
25%      90.0000     0.0000     0.0000   1400.0000  ...           0.0000
50%     110.0000     1.0000     0.0000   1600.0000  ...           1.0000
75%     110.0000     1.0000     0.0000   1600.0000  ...           1.0000
max     192.0000     1.0000     1.0000  16000.0000  ...           1.0000

       Power_Steering      Radio  Mistlamps  Sport_Model  Backseat_Divider  \
count       1436.0000  1436.0000  1436.0000    1436.0000         1436.0000
mean           0.9777     0.1462     0.2570       0.3001            0.7702
std            0.1477     0.3535     0.4371       0.4585            0.4209
min            0.0000     0.0000     0.0000       0.0000            0.0000
25%            1.0000     0.0000     0.0000       0.0000            1.0000
50%            1.0000     0.0000     0.0000       0.0000            1.0000
75%            1.0000     0.0000     1.0000       1.0000            1.0000
max            1.0000     1.0000     1.0000       1.0000            1.0000

       Metallic_Rim  Radio_cassette  Parking_Assistant    Tow_Bar
count     1436.0000       1436.0000          1436.0000  1436.0000
mean         0.2047          0.1455             0.0028     0.2779
std          0.4036          0.3528             0.0527     0.4481
min          0.0000          0.0000             0.0000     0.0000
25%          0.0000          0.0000             0.0000     0.0000
50%          0.0000          0.0000             0.0000     0.0000
75%          0.0000          0.0000             0.0000     1.0000
max          1.0000          1.0000             1.0000     1.0000

[8 rows x 36 columns]

In [45]:
# Normalize the variable kilometers
# pandas:
norm_df_KM = (ToyotaCorolla_df.KM - ToyotaCorolla_df.KM.mean()) / ToyotaCorolla_df.KM.std()
print(norm_df_KM)

# using scikit-learn: 
from sklearn.preprocessing import MinMaxScaler, StandardScaler
ToyotaCorolla_df = ToyotaCorolla_df.copy()

# Reshaping the 'KM' column to make it a 2D array
KM_reshaped = ToyotaCorolla_df['KM'].values.reshape(-1, 1)
scaler = StandardScaler()

# Convert the numpy array back to a dataframe
norm_KM = pd.DataFrame(scaler.fit_transform(KM_reshaped), columns=['Normalized_KM'])
norm_KM

0      -0.574495
1       0.117413
2      -0.715137
3      -0.547459
4      -0.800749
          ...
1431   -1.279494
1432   -1.320660
1433   -1.373557
1434   -1.376224
1435   -1.827213
Name: KM, Length: 1436, dtype: float64

      Normalized_KM
0         -0.574695
1          0.117454
2         -0.715386
3         -0.547650
4         -0.801028
...             ...
1431      -1.279939
1432      -1.321120
1433      -1.374036
1434      -1.376703
1435      -1.827849

[1436 rows x 1 columns]

In [19]:
ToyotaCorolla_df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

In [30]:
# Use the 'get_dummies' function to create dummies
ToyotaCorolla_df = pd.get_dummies(ToyotaCorolla_df, columns=['Fuel_Type'], drop_first=True)
ToyotaCorolla_df .columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors', 'Cylinders',
       'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette',
       'Parking_Assistant', 'Tow_Bar', 'Fuel_Type_Diesel', 'Fuel_Type_Petrol'],
      dtype='object')

In [26]:
ToyotaCorolla_df.shape

(1436, 39)

In [43]:
# randomly sample 50% of the data for training
trainData = ToyotaCorolla_df.sample(frac=0.5, random_state=1)
# sample 30% of the row IDs into the validation set, drawing only from records
# not already in the training set; 60% of 50% is 30%
validData = ToyotaCorolla_df.drop(trainData.index).sample(frac=0.6, random_state=1)  
# the remaining 20% rows serve as test
testData = ToyotaCorolla_df.drop(trainData.index).drop(validData.index)

print('Training   : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test       : ', testData.shape)
print()

# alternative way using scikit-learn
trainData, temp = train_test_split(ToyotaCorolla_df, test_size=0.5, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)
print('Training   : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test       : ', testData.shape)

Training   :  (718, 39)
Validation :  (431, 39)
Test       :  (287, 39)

Training   :  (718, 39)
Validation :  (430, 39)
Test       :  (288, 39)